body {
    margin: 0px;
    border: 0px;
}
.navbar h1{
    font-size: 25px;
}
.titulo h1 {
    color: white;
    margin: 0px;
    border: 0px;
}
.texto{
    color: white;
}
.flex-side-bar p a{
color: white;
}
.navbar {
    grid-area: a;
    background-color: #01579B;
}

.flex-side-bar {
    grid-area: b;
    background-color: #01579B;
}

.filtro {
    grid-area: c;
    background-color: #E1E2E1;
}

.grilla {
    grid-area: d;
    background-color: rgba(228, 211, 211, 0.568);
}

.footer {
    grid-area: e;
    background-color: #002F6C;

        text-align: center;
}
.pagination{
    grid-area: f;
    background-color: rgba(228, 211, 211, 0.568);
}
.flex-side-bar a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.flex-side-bar p,
h2 {
    padding: 0px;
    padding-left: 30px;
    margin: 2px;
}

ul{
    list-style-type: none;
    margin: 0px;

}
li{
    width: 5%;
    height: auto;
}
a{
color: black;
text-decoration: none;
}
.buttom a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.container p {
    margin: 0px;
}
.footer p{
    margin: 0px;
}
ul{
    list-style-type: none;

}
li{
    width: 5%;
    height: auto;
}
a{
color: black;
text-decoration: none;
}
/* COMPUTADORAS */
@media (min-width: 993px) {
    .menuhide {
        display: none;
    }
    .container-phone {
        display: none;
    }
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-container {
        display: grid;
        grid-template-areas:
            "a c c"
            "b d d"
            "e f f";
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: 10% 80% 10%;
        min-height: 100vh;
    }
    /* .aside-bar a{
        color: black;
        text-decoration: none;
    } */
    .flex-side-bar {
        display: flex;
        flex-direction: column;
    }
    .filtro{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .grilla {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 100%;
    }
    
    .filter{
        width: 100%;
        align-items:center;
    }
    .lista{
        display:flex;
        flex-direction:column;
        margin-inline: auto ;
        min-width: 80%;
    }

    .container {
        display: flex;
        flex-direction: column;
        border-color: black;
        border: 1px;
        width: 30%;
        max-width: 250px;
        align-items: center;
        background-color: white;
        border-radius: 3%;
    }

    .container img {
        width: 100%;
        max-width: 200px;
        background-color: white;
    }

    .container .buttom {
        background-color: #4f4fb3;
        width: 100%;
        height: auto;
        text-align: center;
        height: 20px;
        border-radius: 3%;
        color: white;
    }
    .footer {
        text-align: center;
    }
    .clear{
        display: flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
        gap: 10px;

    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}
/* TABLETS */
@media screen and
(min-device-width: 576px) and (max-device-width: 992px) {
    .container-phone {
        display: none;
    }
    .menuhide {
        display: none;
    }
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-container {
        display: grid;
        grid-template-areas:
            "a b b"
            "c d d"
            "c f f"
            "e e e";
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: 10% 75% 5% 10%;
        min-height: 100vh;
    }

    .filtro{
        display:flex;
        flex-direction:column;
    }
    .filter{
        width: 100%;
        align-items:center;
    }
    .lista{
        display:flex;
        flex-direction:column;
        margin-inline: auto ;
        min-width: 80%;
    }

    .grilla {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        border-color: black;
        border: 1px;
        width: 30%;
        max-width: 200px;
        align-items: center;
        background-color: white;
        border-radius: 3%;
    }

    .container img {
        width: 100%;
        max-width: 200px;
        background-color: white;
    }

    .container .buttom {
        background-color: #4f4fb3;
        width: 100%;
        height: auto;
        text-align: center;
        height: 20px;
        border-radius: 3%;
        color: white;
    }

    .buttom a {
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    .clear{
        display: flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
        gap: 10px;

    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* CELULARES */
@media (max-width: 575px) {
    .container{
        display: none;
    }
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-container {
        display: grid;
        grid-template-areas:
            "a"
            "c"
            "d"
            "f"
            "e";
        grid-template-columns: 10fr;
        grid-template-rows: 10% 5% 75% 10%;
        min-height: 100vh;
    }

    .flex-side-bar {
        display: none;
    }
    .filtro{
        display:flex;
        flex-direction:column;
    }
    .filter{
        width: 100%;
        align-items:center;
    }
    .lista{
        display:flex;
        flex-direction:column;
        margin-inline: auto ;
        min-width: 80%;
    }

    .grilla {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 100%;
    }

    .container-phone {
        display: flex;
        flex-direction: column;
        border-color: black;
        border: 1px;
        width: 80%;
        max-width: 600px;
        align-items: center;
        background-color: white;
        border-radius: 3%;
        margin-top: 30px;
    }

    .container-phone img {
        width: 100%;
        max-width: 500px;
        background-color: white;
    }

    .container-phone .buttom {
        background-color: #4f4fb3;
        width: 100%;
        height: auto;
        text-align: center;
        height: 20px;
        border-radius: 3%;
        color: white;
    }

    .buttom a {
        list-style-type: none;
        text-decoration: none;
        padding: 0px;
        margin: 0px;
        color: white;
    }
    .buttom p {
        padding: 0px;
        margin: 0px;
        color: white;
    }

    .clear{
        display: flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
        gap: 10px;

    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .navbar svg{
        margin-top: 15px;
    }
}

